.Favorite {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  justify-content: center;
  gap: 30px;

  @media (max-width: 1440px) {
    grid-template-columns: 200px 200px 200px 200px;
  }
  @media (max-width: 1024px) {
    grid-template-columns: 200px 200px 200px;
  }
  @media (max-width: 768px) {
    grid-template-columns: 200px 200px;
  }
  @media (max-width: 425px) {
    grid-template-columns: 200px;
  }

  &__img {
    position: relative;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    i {
      z-index: 2;
      color: tomato;
      cursor: pointer;
    }
  }
}
