.Favorite {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  justify-content: center;
  gap: 30px;

  @media (max-width: 1440px) {
    grid-template-columns: 200px 200px 200px 200px;
  }
  @media (max-width: 1024px) {
    grid-template-columns: 200px 200px 200px;
  }
  @media (max-width: 768px) {
    grid-template-columns: 200px 200px;
  }
  @media (max-width: 425px) {
    grid-template-columns: 200px;
  }

  &__img {
    position: relative;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    i {
      z-index: 2;
      color: tomato;
      cursor: pointer;
    }
  }
}
.Empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
  }

  img {
    width: 200px;
  }
}
